@media screen and (max-width:  889px) {
	body::-webkit-scrollbar {
		display: none;
	}
	.column-link--transparent {
		transform: rotate(90deg);
		scroll-snap-align: start;
	}
	.columns-area__panels__pane__inner {
		height: fit-content;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		left: 5px;
		top: calc(100vh + 1px);
	}
	.ui__header {
		top: calc(100vh - 55px);
		border-bottom: none;
		border-top: 1px solid #393f4f;
	}
	.columns-area__panels {
		margin-top: -55px;
		margin-bottom: 55px;
	}
	.tabs-bar__wrapper {
		top: 0;
	}
	.navigation-panel {
		max-height: calc(100vw - 100px);
		overflow: auto;
		scroll-snap-type: both mandatory;
	}
	.navigation-panel::-webkit-scrollbar {
		display: none;
	}
	.columns-area__panels__main {
		width: 100%;
	}
	.columns-area__panels__pane--navigational {
		min-width: 0;
		z-index: 999;
	}
	body.app-body.layout-single-column {
		overflow-x: hidden;
	}
	.ui__header__links .button span {
		display: none;
	}
	.ui__header__links .button::before {
    	content: "";
	}
	.ui__header__links .button {
		padding: 7.5px 0 0 0;
		font-size: 20px;
		height: 35px;
		width: 35px;
	}
}
.ui__header__logo {
	width: 0 !important;
	padding: 0 !important;
}
.navigation-panel__logo {
	display: none !important;
}
