@media screen and (max-width:  889px) {
	.column-link--transparent {
		transform: rotate(90deg);
		scroll-snap-align: start;
	}
	.columns-area__panels__pane__inner {
		height: fit-content;
		transform: rotate(-90deg);
		transform-origin: 0 0;
		left: 5px;
	}
	.navigation-panel {
		max-height: calc(100vw - 160.59px);
		overflow-y: auto;
		overflow-x: hidden;
		scroll-snap-type: y mandatory;
	}
	.navigation-panel::-webkit-scrollbar {
		display: none;
	}
	.columns-area__panels__main {
		width: 100%;
	}
	.columns-area__panels__pane--navigational {
		min-width: 0;
		z-index: 999;
	}
	body.app-body.layout-single-column {
		overflow-x: hidden;
	}
}
.ui__header__logo {
	width: 0 !important;
	padding: 0 !important;
}
.navigation-panel__logo {
	display: none !important;
}
